{% extends 'base/base.html' %}
{% block content %}

    {% from "_macro.html" import render_field %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <br>
                <form id="CreateForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{render_field(form.name, class="form-control" ) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                     <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{render_field(form.address, class="form-control") }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                      <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             {{render_field(form.minister, class="form-control" ) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}