{% extends 'base/base.html' %}

{% block content %}

<table>
    <thead>
    <tr>
        <th>Office_name.</th>
        <th>address.</th>
        <th>minister.</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for office in offices %}
    <tr>
        <td>{{ office.name }}</td>
        <td>{{ office.address }}</td>
        <td>{{ office.minister }}</td>
        <td><a href="/office/edit/{{office.id}}">Update</a> <a href="/office/delete/{{office.id}}">Delete</a><a href="/office/read/{{office.id}}">Views</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


